:root {
  --primary-color: #c94d7d;
  --secondry-color: #ff48ee;
  --extra-color: #e63a8d;
  --primary-gradient: linear-gradient(
    114.2deg,
    rgb(121, 194, 243) 22.6%,
    rgb(255, 180, 239) 67.7%
  );
  --primary-font: "Arima", cursive;
  --secondary-font: "Charm", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
  font-family: var(--primary-font);
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--extra-color);
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#header ul li {
  margin-left: 20px;
}

#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: white;
}
.hover {
  border-radius: 20px;
}
.hover:hover {
  background: #ff48ee;
}

.active {
  background: #ff48ee;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section #text {
  position: absolute;
  font-size: 10vh;
  text-align: center;
  font-family: "Arima", cursive;
  font-family: "Charm", cursive;
  font-family: "Rancho", cursive;
  line-height: 0.55em;
  transform: translateY(-50%);
}

section #text span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: var(--primary-font);
  font-family: var(--secondary-font);
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: white;
  color: #e63a8d;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);
}

.sec {
  position: relative;
  padding: 100px;
  background: var(--primary-color);
}

.sec h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

.sec p {
  font-size: 19px;
  color: black;
}
