:root {
  --primary-color: #c94d7d;
  --secondry-color: #ff48ee;
  --extra-color: #e63a8d;
  --primary-gradient: linear-gradient(
    114.2deg,
    rgb(121, 194, 243) 22.6%,
    rgb(255, 180, 239) 67.7%
  );
  --primary-font: "Arima", cursive;
  --secondary-font: "Charm", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
  font-family: var(--primary-font);
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--extra-color);
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#header ul li {
  margin-left: 20px;
}

#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: white;
}
.hover,
active {
  border-radius: 20px;
}
.hover:hover {
  background: #ff48ee;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
